<div class="row">
    <div class="col-md-12">
  <% if (messages.success) { %>
      <div class="alert alert-success"><%= messages.success %></div>
  <% } %>
    <h3>Thank you for contacting your WorkBC Centre.</a></h3>
  </div>
  </div>