<div class="row">
  <div class="col-md-12">
    <p>This page intentionally left blank.</p>
    <p>If you are looking to contact your WorkBC Centre and received an email, please click the personal link provided on the email.</p>
    <p>Thank you</p>    
  </div>
</div>