<!DOCTYPE html>
<html lang="en" class="fill-height-md">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorkBC Mailer</title>
  <link rel="shortcut icon" type="image/png" href="/images/bcid-favicon-32x32.png"/>
  <%- body %>

</head>
<body>
  <main role="main">
    <div class="container">
      
    </div>
  </main>
</body>
</html>
