<div class="row">
    <div class="col-md-12">
    <h2>Error</h2>
    <p>If this error persists, please try again later.</p>    
    <p><a href="/">Click here to return to the homepage</a></p>
    </div>
</div>